.Avatar {
    max-height: 50px;
    max-width: 50px;
}

.Fas{
    background-color: solid black;
    color: solid black;
    size: 10px;
}

.Participant {
    display: flex;
}

.NameOnStageGroup{
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.Owl-app{
    width: 30%;
    max-height: 650px;
    border: 1px solid black;
    overflow: hidden;
} 

.ParticipantView {
    overflow-y: scroll;
} 

.chats{
    flex-direction: column;
    list-style: none;
    padding: 5px;
}

.chats span {
    padding: 5px;
}

.chats li {
    margin: 10px auto;
}

.ChatWindow {
    display: none;
}