.Avatar {
    max-height: 50px;
    max-width: 50px;
}

.Fas{
    background-color: solid black;
    color: solid black;
    size: 10px;
}

.Participant {
    display: flex;
}

.NameOnStageGroup{
    flex-direction: column;
    list-style: none;
    padding: 0;
}